<%= form_tag "/projects/#{project.id}/requests/#{request.id}/comments",
  method: :post, class: "form-button" do %>

  <%= label_tag 'comment[content]', "New Comment" %><br>
  <%= text_area_tag 'comment[content]' %>
  <br>

  <input type="hidden" name="comment[user_id]" value=<%= current_user.id %>>
  <input type="hidden" name="comment[project_id]" value=<%= project.id %>>
  <input type="hidden" name="comment[request_id]" value=<%= request.id %>>

  <button type="submit" class="button-link button-in-site form-button">Add Comment</button>
<% end %>
