<!-- <h4 class="project-table-heading"><a href="/projects/{{relationships.project.data.id}}/requests/{{id}}">{{attributes.title}} - {{attributes.description}}</a></h4> -->

<p>Last Updated: {{date}}</p>

<p>Comments: </p>
<div class="request-comments">
  <ul>
  {{#each relationships.comments.data}}
    {{> comments/_commentli parameter=relationships.comments.data}}
  {{/each}}
  </ul>
</div>
