<h1><%= @user.name %></h1>

<div class="user-description">
  <strong>Email:</strong> <%= @user.email %>
  <br>
  <strong>Organization:</strong> <%= @user.organization_name %>
  <br>
  <% if policy(current_user).know_role? %>
    <strong>User Role:</strong> <%= @user.role %>
  <% end %>
</div>

<%= link_to "Edit", edit_registration_path(@user) if policy(@user).edit? %>
