<%= form_for [project, request] do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :request_title, size: "32" %>
  </div>

  <div class="field">
    <%= form.label :description, "Notes" %><br>
    <%= form.text_area :description, id: :request_description, size: "40x8" %>
  </div>

  <input type="hidden" name="request[user_id]" value=<%= current_user.id %>>
  <input type="hidden" name="request[project_id]" value=<%= project.id %>>
  <input type="hidden" name="request[status]" value="Open">
  <input type="hidden" name="request[request_number]" value=<%= project.next_request_number %>>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
