<p>
  Project: <%= link_to request.project.title, project_path(request.project) %>
  <br>
  Opened by: <%= link_to request.user.name, user_path(request.user) %>
  <br>
  Opened on: <%= created_at(request) %>
  <br>
  Last changed: <%= updated_at(request) %>
  <br>
  Status: <%= request.status %>
</p>
