<tr>
  <td class="numbering">
    <%= request.request_number %>
  </td>
  <% if request.status == "Open" %>
    <%= content_tag(:td, request.status, class: "status-open") %>
  <% elsif request.status == "Client Submitted" %>
    <%= content_tag(:td, request.status, class: "status-sub") %>
  <% elsif request.status == "Closed" %>
    <%= content_tag(:td, request.status, class: "status-closed") %>
  <% else %>
    <%= content_tag(:td, request.status) %>
  <% end %>
  <td class="request-info">
    <%= link_to "#{request.title} - #{request.description_trunc}",
     project_request_path(request.project, request) %>
  </td>
  <td class="table-icon-row">
    <i class="fa fa-cloud-upload"> 0</i>
  </td>
  <td class="table-icon-row">
    <i class="fa fa-comments"> <%= request.comment_count %></i>
  </td>
</tr>
