<h3>#<%= @request.request_number %>. <%= @request.title %> </h3>

<p class="request-show-description"><%= @request.description %></p>

<hr>

<p>Opened by: <%= link_to @request.user.name, user_path(@request.user) %><br>
Project: <%= link_to @request.project.title, project_path(@request.project) %><br>
Status: <%= @request.status %></p>


<%= form_tag "/projects/#{params[:project_id]}/requests/#{params[:id]}",
  method: :patch, class: "form-button" do %>
  <input type="hidden" name="request[status]" value="Client Submitted">
  <%= submit_tag 'Upload File', class: "button-link button-in-site" %>
<% end %>

<%= form_tag "/projects/#{params[:project_id]}/requests/#{params[:id]}",
  method: :patch, class: "form-button" do %>
  <input type="hidden" name="request[status]" value="Closed">
  <%= submit_tag 'Close Request', class: "button-link button-in-site" %>
<% end %>

<%= link_to 'Add Comment', root_path,
  class:"button-link button-in-site" %>

<br><br>
<%= link_to "back", project_path(@request.project) %>
