<h3>#<%= @request.request_number %>. <%= @request.title %> </h3>

<p>
  Project: <%= link_to @request.project.title, project_path(@request.project) %>
  <br>
  Opened by: <%= link_to @request.user.name, user_path(@request.user) %>
  <br>
  Opened on: <%= @request.created_at.strftime("%m/%d/%Y") %>
  <br>
  Status: <%= @request.status %>
</p>

<hr>
<p class="request-show-description"><%= @request.description %></p>

<h4>Comments</h4>

<div class="request-comments">

</div>

<%= form_tag "/projects/#{params[:project_id]}/requests/#{params[:id]}",
  method: :patch, class: "form-button" do %>
  <input type="hidden" name="request[status]" value="Client Submitted">
  <%= submit_tag 'Upload File', class: "button-link button-in-site" %>
<% end %>

<%= form_tag "/projects/#{params[:project_id]}/requests/#{params[:id]}",
  method: :patch, class: "form-button" do %>
  <input type="hidden" name="request[status]" value="Closed">
  <%= submit_tag 'Close Request', class: "button-link button-in-site" %>
<% end %>

<%= link_to 'Add Comment', root_path,
  class:"button-link button-in-site" %>

<br><br>
<%= link_to "back", project_path(@request.project) %>
