<%= csrf_meta_tag %>

<h3>#<%= @request.request_number %>. <%= @request.title %> </h3>

<%= render partial: 'requests/request_details', locals: {request: @request} %>
<%= upload_button(@request) %>
<%= status_button(@request, "Closed") %>
<%= status_button(@request, "Open") %>
<%= delete_button(@request) %>

<hr>
<h3>Original Request: </h3>
<p class="request-show-description"><%= @request.description %></p>

<h4>Comments</h4>

<div class="request-comments">
  <ul id="comment-list">
    <%= render @request.comments %>
  </ul>
</div>

<!-- Comment Form -->
<%= render partial: 'comments/form', locals: {project: @request.project,
   request: @request, comment: Comment.new} %>

<br><br>
<%= link_to "back", project_path(@request.project) %>
