<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :project_title %>
  </div>

  <div class="field">
    <%= form.label :auditee, "Client" %>
    <%= form.text_field :auditee, id: :project_auditee %>
  </div>

  <h3>Users</h3>
  <div class="field">
    <%= form.collection_check_boxes :user_ids, project.users, :id, :email %>
  </div>

  <div>
    <%= form.label :add_user, "Add User" %>
    <input type="text" name="project[user_attributes][0][email]"
      id="project_user_attributes_0_email">
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
