<h1><%= @project.title %></h1>
<p>
  <strong>Client:</strong>
  <%= @project.auditee %>
  <br>
  <strong>Contributors: </strong>
  <% @project.users.each do |user| %>
    <%= link_to "#{user.name}", user_path(user) %>
  <% end %>
  <br>
  <%= link_to 'Edit', edit_project_path(@project) %>
</p>

<%= link_to 'All Requests', new_project_request_path(@project),
  class:"button-link button-in-site" %>
<%= link_to 'Open Requests', new_project_request_path(@project),
  class:"button-link button-in-site" %>
<%= link_to 'Client Submitted', new_project_request_path(@project),
  class:"button-link button-in-site" %>

<h2>Audit Requests</h2>

<div class="request-list">
  <table>
    <% @project.requests.each do |request| %>
      <tr>
        <td class="numbering">
          <%= request.request_number %>
        </td>
        <% if request.status == "Open" %>
          <%= content_tag(:td, request.status, class: "status-open") %>
        <% elsif request.status == "Client Submitted" %>
          <%= content_tag(:td, request.status, class: "status-sub") %>
        <% elsif request.status == "Closed" %>
          <%= content_tag(:td, request.status, class: "status-closed") %>
        <% else %>
          <%= content_tag(:td, request.status) %>
        <% end %>
        <td class="request-info">
          <%= link_to "#{request.title} - #{request.description_trunc}",
           project_request_path(@project, request) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="below-list">
  <%= link_to 'New Request', new_project_request_path(@project),
    class:"button-link button-in-site" %>
</div>
