<h1><%= @project.title %></h1>
<p>
  <strong>Client:</strong>
  <%= @project.auditee %>
  <br>
  <strong>Contributors: </strong>
  <% @project.users.each do |user| %>
    <%= link_to "#{user.name}", user_path(user) %>
  <% end %>
  <br>
  <%= link_to 'Edit', edit_project_path(@project) %>
</p>

<%= link_to 'All Requests', "/projects/#{@project.id}",
  class:"button-link button-in-site" %>
<%= link_to 'Open Requests', "/projects/#{@project.id}/status/open",
  class:"button-link button-in-site" %>
<%= link_to 'Client Submitted', "/projects/#{@project.id}/status/client_submitted",
  class:"button-link button-in-site" %>
<%= link_to 'Closed', "/projects/#{@project.id}/status/closed",
  class:"button-link button-in-site" %>

<h2>Audit Requests</h2>

<div class="request-list">
  <table>
    <%= render @requests %>
  </table>
</div>

<div class="below-list">
  <%= link_to 'New Request', new_project_request_path(@project),
    class:"button-link button-in-site" %>
</div>
