<h1><%= @project.title %></h1>
<p>
  <strong>Client:</strong>
  <%= @project.auditee %>
  <br>
  <strong>Contributors: </strong>
  <% @project.users.each do |user| %>
    <%= link_to "#{user.name}", user_path(user) %>
  <% end %>
  <br>
  <%= edit_profile_link(@project) %>
</p>

<%= render "/projects/filter_buttons" %>

<h2>Audit Requests</h2>

<div class="request-list">
  <table class="project-table">
    <%= render @requests %>
  </table>
</div>

<% if policy(@project).add_request? %>
  <div class="below-list">
    <%= link_to 'New Request', new_project_request_path(@project),
      class:"button-link button-in-site" %>
  </div>
<% end %>
