<h1><%= @project.title %></h1>
<p>
  <strong>Client:</strong>
  <%= @project.auditee %>
</p>
<p>Contributors: <% @project.users.each do |user| %>
    <%= user.email %>
  <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
